**The following code uses the Tesseract OCR package**

In [ ]:
!pip install img2table
!pip install pytesseract
!sudo apt install tesseract-ocr

Collecting img2table
  Downloading img2table-1.0.7-py3-none-any.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.6/82.6 kB 3.0 MB/s eta 0:00:00
Collecting polars[pandas]>=0.18.0 (from img2table)
  Downloading polars-0.18.7-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.1/19.1 MB 31.7 MB/s eta 0:00:00
Requirement already satisfied: pyarrow>=7 in /usr/local/lib/python3.10/dist-packages (from img2table) (9.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from img2table) (1.22.4)
Collecting pymupdf>=1.19.1 (from img2table)
  Downloading PyMuPDF-1.22.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.1/14.1 MB 48.5 MB/s eta 0:00:00
Requirement already satisfied: opencv-python in /usr/local/lib/python3.10/dist-packages (from img2table) (4.7.0.72)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from img2table) (4.11.2)
Collecting xlsxwriter>=3.0.6 (from img2table)
  Downloading XlsxWriter-3.1.2-py3-none-any.whl (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.0/153.0 kB 13.5 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from polars[pandas]>=0.18.0->img2table) (1.5.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->img2table) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->polars[pandas]>=0.18.0->img2table) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->polars[pandas]>=0.18.0->img2table) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->polars[pandas]>=0.18.0->img2table) (1.16.0)
Installing collected packages: xlsxwriter, pymupdf, polars, img2table
  Attempting uninstall: polars
    Found existing installation: polars 0.17.3
    Uninstalling polars-0.17.3:
      Successfully uninstalled polars-0.17.3
Successfully installed img2table-1.0.7 polars-0.18.7 pymupdf-1.22.5 xlsxwriter-3.1.2
Collecting pytesseract
  Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (23.1)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (8.4.0)
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.10
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 15 not upgraded.
Need to get 4,850 kB of archives.
After this operation, 16.3 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/universe amd64 tesseract-ocr-eng all 1:4.00~git30-7274cfa-1 [1,598 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/universe amd64 tesseract-ocr-osd all 1:4.00~git30-7274cfa-1 [2,990 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/universe amd64 tesseract-ocr amd64 4.1.1-2build2 [262 kB]
Fetched 4,850 kB in 1s (3,522 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 123105 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_1%3a4.00~git30-7274cfa-1_all.deb ...
Unpacking tesseract-ocr-eng (1:4.00~git30-7274cfa-1) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_1%3a4.00~git30-7274cfa-1_all.deb ...
Unpacking tesseract-ocr-osd (1:4.00~git30-7274cfa-1) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.1.1-2build2_amd64.deb ...
Unpacking tesseract-ocr (4.1.1-2build2) ...
Setting up tesseract-ocr-eng (1:4.00~git30-7274cfa-1) ...
Setting up tesseract-ocr-osd (1:4.00~git30-7274cfa-1) ...
Setting up tesseract-ocr (4.1.1-2build2) ...
Processing triggers for man-db (2.9.1-1) ...

In [ ]:
from img2table.document import PDF
from img2table.ocr import TesseractOCR

# Instantiation of the pdf
pdf = PDF(src="/content/BILLS-117RCP35-JES-DIVISION-A.pdf", pages = [64,65,66,67,68,69,70,71,72,73,74,75,
                                                                     76,77,78,79,80,81,82,83,84,85,86,87,
                                                                     88,89,90,91,92,93,94,95,96,97])
# Instantiation of the OCR, Tesseract, which requires prior installation
# pytesseract.pytesseract.tesseract_cmd = r'C:\Users\USER\AppData\Local\Tesseract-OCR\tesseract.exe'
ocr = TesseractOCR(lang="eng")

# Table identification and extraction
pdf_tables = pdf.extract_tables(ocr=ocr, implicit_rows=True,borderless_tables=True)

# Extraction of tables and creation of a xlsx file containing tables
pdf.to_xlsx(dest='extracted_tables.csv',
            ocr=ocr,
            implicit_rows=True,
            borderless_tables=True,
            min_confidence=50) #initial confidence=50

In [ ]:
pdf_tables

{64: [],
 65: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands), bbox=(45, 127, 1353, 712),shape=(22, 6))],
 66: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT. FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  in thousands) (Amounts, bbox=(48, 126, 1354, 654),shape=(19, 8))],
 67: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  FY 2021
  FY 2022
  Final Bill
  Final Bill
  Final Bi 11
  Enacted
  Request
  vs Request
  vs Enacted
  Office of the Under Secretary for Marketing and, bbox=(43, 218, 1342, 555),shape=(8, 6))],
 68: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  in (Amounts thousands)
  FY 2021
  FY 2022
  11 Final Bi
  Final Bill
  Request
  Bill Final
  vs Request
  Enacted
  vs Enacted
  Funds for strengthening markets, income, and supply
  (Section 32):, bbox=(47, 242, 1345, 556),shape=(12, 5))],
 69: [ExtractedTable(title=AGR!CUL TURE, RURAL DEVELOPMENT, FOOD ANO DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  2021 FY
  FY 2022
  Final Bill
  Final Bill
  Enacted
  Request
  Final Bill
  vs Enacted
  vs Request
  TITLE I I
  Farm Production and Conservation Programs
  Farm Production Programs, bbox=(44, 278, 1344, 732),shape=(12, 6))],
 70: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  FY 2021
  FY 2022
  Final Bill
  Final Bill
  Request
  Final Bill
  Enacted
  vs Enacted
  vs Request, bbox=(44, 201, 1343, 654),shape=(12, 6))],
 71: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  FY 2021
  FY 2022
  Bi 11 Final
  Final Bill
  Final Bill
  Enacted vs
  Enacted
  Request
  VS Request
  --------------------- --------
  ------------------------------, bbox=(87, 201, 1345, 554),shape=(13, 6))],
 72: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  2022 AND RELATED AGE ES APPROPRIATIONS ACT, NCI
  (Amounts in thousands)
  Final a;11
  FY 2021
  FY 2022
  Final Bill
  Request
  Enacted
  Final Bill
  vs Request
  vs Enacted, bbox=(45, 200, 1353, 712),shape=(17, 6))],
 73: [],
 74: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPHENT, FOOD AND DRUG AOH!NISTRATION,
  2022 AND RELATED AGENCIES APPROPRIATIONS ACT,
  (Amounts in thousands)
  Final Bill
  FY 2021
  FY 2022
  Final Bill
  vs Enacted
  vs Request
  Enacted
  Request
  Final Bill
  TITLE III • RURAL DEVELOPHENT, bbox=(45, 240, 1345, 754),shape=(13, 6))],
 75: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION.
  AND RELATED AGENCIES APPROPRIATIONS ACT. 2022
  (Amounts in thousands)
  Final Bil 1
  Final Bill
  FY 2021
  FY 2022
  vs Enacted
  Enacted
  Request
  Final Bi 11
  vs Request, bbox=(84, 202, 1344, 712),shape=(20, 6))],
 76: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  Final Bill
  Final Bill
  FY 2021
  FY 2022
  Enacted
  Request
  Final Bi 11
  vs Enacted
  vs Request, bbox=(84, 202, 1345, 614),shape=(9, 6))],
 77: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts 1 n thousands)
  Final Bill
  Final Bill
  2021 FY
  2022 FY
  Request
  Final Bill
  vs Enacted
  vs Request
  Enacted
  Loan subsidies and grants:
  Community faci 1 ity:
  -25,000
  Non-conforming Subsidy ...
  25,000, bbox=(126, 259, 1399, 1116),shape=(10, 6))],
 78: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMlNISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands), bbox=(48, 124, 1358, 753),shape=(17, 7))],
 79: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOP~ENT, FOOD AND DRUG AD~!NISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  Final Bill
  Final Bill
  FY 2021
  FY 2022
  Request
  8111 Final
  vs Enacted
  vs Request
  Enacted, bbox=(84, 221, 1344, 694),shape=(12, 6))],
 80: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  2022 RELATED AGENCIES APPROPRIATIONS ACT, AND
  (Amounts in thousands)
  Final Bill
  Final Bill
  FY 2021
  FY 2022
  Enacted
  Request
  Final Bill
  vs Enacted
  vs Request
  Rural Utilities Service:
  Rural water and waste disposal program account:
  Loan authorizations:, bbox=(128, 261, 1355, 1156),shape=(15, 6))],
 81: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts 1 n thousands)
  Final Bill
  Final Bill
  FY 2021
  FY 2022
  Final Bill
  vs Request
  Enacted
  Request
  vs Enacted
  Rural Electrification and Telecommunications Loans
  Program Account:
  Loan authorizations:
  Electric:, bbox=(166, 279, 1347, 555),shape=(9, 6))],
 82: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  Final Bil 1
  Bill Final
  FY 2021
  FY 2022
  Request
  Final Bi 11
  vs Enacted
  vs Request
  Enacted
  Loan Subsidy:, bbox=(89, 220, 1347, 613),shape=(16, 6))],
 83: [ExtractedTable(title=None, bbox=(88, 24, 1379, 558),shape=(19, 2))],
 84: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  2022 RELATED AGENCIES APPROPRIATIONS ACT, AND
  (Amounts in thousands)
  Final Bill
  B111 Final
  FY 2021
  2022 FY
  Enacted
  Request
  Final Bill
  vs Request
  vs Enacted
  TITLE IV - DOMESTIC FOOD PROGRAMS, bbox=(46, 240, 1348, 732),shape=(13, 6))],
 85: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  2021 FY
  Final Bi 11
  Final Bi 11
  2022 FY
  Request
  Final Bill
  vs Request
  vs Enacted
  Enacted
  Commodity assistance program:, bbox=(87, 219, 1347, 495),shape=(11, 6))],
 86: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG AOMIN!STRA TION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  Final Bi 11
  Final Bill
  FY 2021
  FY 2022
  Enacted
  Request
  Bill Final
  vs Enacted
  vs Request
  TITLE V • FOREIGN ASSISTANCE AND RELATED PROGRAMS, bbox=(45, 241, 1346, 577),shape=(11, 6))],
 87: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  RELATED AGENCIES APPROPRIATIONS ACT, 2022 AND
  (Amounts in thousands)
  Final Bill
  Final Bill
  FY 2021
  FY 2022
  Enacted
  Request
  Final Bill
  vs Request
  vs Enacted
  Food for Peace Title II Grants:, bbox=(49, 220, 1349, 616),shape=(10, 6))],
 88: [ExtractedTable(title=None, bbox=(48, 24, 1389, 749),shape=(25, 6))],
 89: [],
 90: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADM !NISTRA TION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  in thousands) (Amounts
  FY 2021
  FY 2022
  Final Bill
  Final Bill
  Request
  Final Bill
  vs Enacted
  Enacted
  vs Request, bbox=(47, 200, 1348, 656),shape=(14, 4))],
 91: [],
 92: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND ORUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  Final Bill
  Final Bill
  2021 FY
  2022 FY
  Enacted
  Request
  Final Bi 11
  vs Enacted
  vs Request, bbox=(48, 203, 1343, 636),shape=(20, 5))],
 93: [],
 94: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  in thousands) (Amounts
  FY 2021
  FY 2022
  Final Bi 11
  Final Bill
  Enacted
  Request
  Final Bill
  vs Enacted
  vs Request
  EXTENDING FUNDING AND EMERGENCY ASSISTANCE ACT, 2022
  (P.L. 117-43)
  DIVISION B - DISASTER RELIEF SUPPLEMENTAL
  APPROPRIATIONS ACT, 2022
  DEPARTMENT OF AGRICULTURE
  Agricultural Programs, bbox=(48, 397, 1350, 594),shape=(4, 4))],
 95: [ExtractedTable(title=AGRICULTURE, RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  AND RELATED AGENCIES APPROPRIATIONS ACT, 2022
  (Amounts in thousands)
  2021 FY
  2022 FY
  Bi 11 Final
  Bill Final
  Enacted
  Request
  Sill Final
  vs Enacted
  vs Request
  THE INFRASTRUCTURE INVESTMENT AND JOBS ACT
  (P.L. 117·58)
  J • DIVISION APPROPRIATIONS
  DEPARTMENT OF AGRICULTURE
  Natural Resources Conservation Service, bbox=(48, 379, 1349, 580),shape=(5, 4))],
 96: [],
 97: [ExtractedTable(title=RURAL DEVELOPMENT, FOOD AND DRUG ADMINISTRATION,
  RELATED AGENCIES APPROPRIATIONS ACT, 2022
  in thousands) (Amounts, bbox=(657, 126, 1346, 164),shape=(2, 6)),
  ExtractedTable(title=None, bbox=(45, 204, 1345, 321),shape=(6, 6)),
  ExtractedTable(title=None, bbox=(48, 342, 1345, 440),shape=(5, 6))]}

In [ ]:
from IPython.display import display_html

for page, tables in pdf_tables.items():
    for idx, table in enumerate(tables):
        display_html(table.html_repr(title=f"Page {page + 1} - Extracted table n°{idx + 1}"), raw=True)

,0,1,2,3,4,5
0,FY 2022,FY 2022,FY 2022,,,
1,Request\nEnacted,Request\nEnacted,Request\nEnacted,Final Bill\nvs Request\nvs Enacted,Final Bill\nvs Request\nvs Enacted,Final Bill\nvs Request\nvs Enacted
2,Executive Operations,,,,,
3,Office of the Chief Economist.,"24,192","31,050","27,199","+3, 007","851 -3,"
4,Office of Hearings and Appeals.,"15,394","16,173","16,173",+779,
5,Office of Budget and Program Analysis.,"9,629","12,760","11,337","+1, 708","•1,423"
6,Subtotal ...... .,"49,215","59,983","54,709","+5, 494","-5,274"
7,Office of the Chief Information Officer ..,66.814,"101,001","84,746","+17, 932","-16, 255"
8,Office of the Chief Financial Officer.,"6,109","7,118","7,118","+1,009",
9,Office of the Assistant Secretary for Civil Rights.,908,"1,426","1,426",+518,
10,Office of Civil Rights ....,"789 22,","29,328","35,328","+12,539","+6,000"
11,"Office of Safety, Security, and Protect ion ..","23,218","27,034","23,306",+88,"·3,728"
12,Agriculture Buildings and Facilities ...,"108,124","133,443","108,397",+273,"-25,046"
13,Hazardous materials management ..,"6,514","6,545","7,540","+1,026",+995
14,Office of Inspector General,"99,912","106,309","106,309",+6.397,
15,Office of the General Counsel ..... .,"45,390","60,723","57,268","+11,878","·3,455"
16,Office of Ethics ................. ..,"4,184","4,277","4,277",+93,
17,"1 , Tota Executive Ope rat 1 ons.","433,177","537,187","490,424","+57, 247",".45, 763"
18,"Total , Staff Offices, .....","480,175","623,960","545,134","+64,959","-78,826"
19,"Office of the Under Secretary for Research, Education,",,,,,
20,and Economics.,809,"1,327","2,327","+1,518","+1,000"
21,Off1 ce of the Chief Scientist. .. . .. . .. ......... .,,"5,000",1.000,"+1,000","-4,000"

,0,1,2,3,4,5,6,7
0,FY 2022,FY 2022,FY 2022,FY 2022,FY 2022,FY 2022,FY 2022,
1,Enacted\nFinal Bil 1\nRequest\nvs Enacted,Enacted\nFinal Bil 1\nRequest\nvs Enacted,Enacted\nFinal Bil 1\nRequest\nvs Enacted,Enacted\nFinal Bil 1\nRequest\nvs Enacted,Enacted\nFinal Bil 1\nRequest\nvs Enacted,Enacted\nFinal Bil 1\nRequest\nvs Enacted,Enacted\nFinal Bil 1\nRequest\nvs Enacted,vs Request
2,Economic Research Service.,"85,476",,"90,594",,"87, 794","+2 ,318","·2,800"
3,National Agricultural Statistics Service.,"183,921",,"193,662",,"190,162","+6, 241",".3 ,500"
4,Census of Agriculture ...... .,"(46,300)",,"{46,300)",,"(46,850)",{+550),(+550)
5,Agricultural Research Service,,,,,,,
6,Salaries and,"1,491,784",,"1,849,590",,"1,633,496","+141, 712","-216,094"
7,Buildings and,"35,700",,45.405,,"65,405","+29,705","+20,000"
8,Community Project Funding/Congressionally Directed,,,,,,,
9,Spending.,,,,,"62,400","+62,400","+62,400"
10,"Total, Agricultural Research Service.","1,527,484",,"1,894,995",,"1,761,301",+233. 817,"694 -133,"
11,National Institute of Food and Agriculture,,,,,,,
12,National Institute of Food and Agriculture.,,,"1,955.863",,,,"955,863 -1 ,"
13,"Research and education activities., ...","992,642",,,,"1,046.244",602,"+1 • 244 046,"
14,"Native American Institutions Endowment Fund.,","{11,880)",,"(11,880)",,"(11,880)",,
15,Extension activities ..,"538,447",,,,,"+12, 158","+550, 605"
16,Integrated activities,39. 000,,,,"40,000","+1 ,000","+40,000"
17,"Total, National Institute of Food\nand",,,,,,,
18,Agriculture ...,"1,570.089",,"1,955,863",,"1,636,849",+66. 760,"-319,014"

,0,1,2,3,4,5
0,Regulatory Programs,809,"1,327","1,577",+768,+250
1,Animal and Plant Health Inspection Service,,,,,
2,"Sa 1 ari es and expenses,\ny Congressi ona 11 Directed Spending.","1,064.179","1,102,222","1,106,744\n3,474","+42,565\n+3,474","+4, 522\n+3,474"
3,Buildings and facilities.,"3,175","3,175","3,175",,
4,"Total, Animal and Plant Health Inspection\nService ..","1,067,354","1,105,397","1,113,393","+46,039","+7,996"
5,Agricultural Marketing Service,,,,,
6,... Marketing Services .,"188,358","213, 157","226,657","+38,299","+13,500"
7,collected).,"(61,227)","{61,786)","(61,786)",(+559),

,0,1,2,3,4
0,"Permanent, Section 32 ..","1,359,864\n1,391,211","1,391,211","+31, 347",
1,Marketing agreements and orders (transfer,,,,
2,from Section 32).,"(20,705)\n(20,705)",(20,( +112),(+112)
3,Payments to States and Possessions.,"1,235\n1,235",1,,
4,Limitation on inspection and weighing services ....,"(55,000)\n(55,000)","(55,000)",,
5,"Total, Agricultural Marketing Service program.","1,665,684\n1,722,389","1,735,889","+70, 205","+13,500"
6,Office of the Under Secretary for Food Safety.,"809\n1,327","1,077",+268,-250
7,Food Safety and Inspect ion Service.,"1,075,703\n1,165,589","1,108,664","+32, 961","-56,925"
8,Lab accreditation fees ......... .,"(1,000)\n(1,000)","(1,000)",,
9,"Total , tit 1 e I, Agricultural Programs ..","7,542,086\n8,644,644","8,068,381","+526, 295","-576,263"
10,"(By transfer).,,.,,,,.,,., ....","(20,705)\n(20,705)","(20,817)",(+112),(+112)
11,(Limitation on administrative expenses).,"(116,227)\n(116,786)","(116,786)",(+559),

,0,1,2,3,4,5
0,Office of the Under Secretary for Farm Product ion and,,,,,
1,"Conservation, ..",916,"1,437","1,687",+771,+250
2,"Farm Production and Conservation Business Center,","231,302","238,177","238,177","+6, 875",
3,(by transfer from export loans) ...,(318),,,(-318),
4,"Total, FPAC Business Center (including",,,,,
5,,"291,960","298,405","298,405","+6,445",
6,Farm Service Agency,,,,,
7,(by transfer from AC!F) ....... .,"1,142,924\n(294,114)","1,175,670\n(294,114)","1,173,070\n(294,114)","+30, 146","-2, 600"
8,"Subtotal, transfers .... .","(294,114)","(294,114)","(294,114)",,
9,"transfers),,.","1,437,038","1,469,784","1,467,184","+30, 146",·2.600
10,"State mediation grants .. ,.\n, ........ .","6,914","6,914","7,000",+86,+86
11,y Geographi ca 11 Disadvantaged Farmers ....,,,"3,000","+3,000","+3,000"

,0,1,2,3,4,5
0,Dairy indemnity program ..,500,500,500,,
1,"Subtotal, Farm Service Agency.","1,156,838","1,189,584","1,190,070","+33, 232",+486
2,Agricultural Credit Insurance Fund Program (ACIF)\nAccount:,,,,,
3,Loan authorizations:,,,,,
4,Farm ownership 1 oans:,,,,,
5,.. Direct .\nGuaranteed.,"(2,500,000)\n(3,300,000)","(2,800,000)\n(3,500,000)","(2,800,000)\n(3,500,000)","+300, 000) (\n( +200, 000)",
6,Subtotal,"( 5 , 800 , 000)","(6,300,000)","(6,300,000)","( +500, 000)",
7,Farm operating loans:,,,,,
8,Unsubsidized guaranteed.,"(2,118,482)","(2,118,482)","(2,118,482)",,
9,Subtotal .,"(3,751,815)","(3,751,815)","(3,751,815)",,
10,Emergency 1 oans.\nIndian tribe land acquisition loans.,"(37,668)\n(20,000)","(37,668)\n(20,000)","(37,668)\n(20,000)",,
11,.. Guaranteed .,"(150,000)","(150,000)","(150,000)",,

,0,1,2,3,4,5
0,Indian Highly Fractionated Land Loans.,"(5,000)","(5,000)","(5,000)",,
1,Boll weevil eradication loans.,"(60,000)","(60,000)","(60,000)",,
2,Rel ending program loans ..,"(33,693)","(33,693)","(61,425)","(+27,732)","( +27, 732)"
3,"Total, Loan authorizations.","(9,858,176)","(10,358,176)","(10,385,908)","( +527, 732)","(+27,732)"
4,Loan subsidies,,,,,
5,Farm operating 1 oans:,,,,,
6,01 rect.,"38,710","40,017","40,017","+1,307",
7,,"23, 727","16,524","16,524","-7 ,203",
8,Subtotal.,"62,437","56,541","56,541","-5,896",
9,Emergency Loans.,207,267,267,+60,
10,Indian Fractionated Land Loans ... Highly,742,407,407,-335,
11,,"5,000","2,743","5,000",,"+2, 257"
12,"Total, Loan subsidies and grants","68,386","59,958","62,215","·6, 171","+2, 257"

,0,1,2,3,4,5
0,ACIF administrative expenses:,,,,,
1,Administrative Expenses.,,"314,772",,+7. 428,
2,{Program Loan Cost Expenses).,"(13,230)","(20,658)","(20,658)","(+7, 428)",
3,(Transfer out to FSA Salaries and expenses),"(-294, 114)","( -294, 114)","( -294, 114)",,
4,"Total, Agricultural Credit Insurance Fund",,,,,
5,Program Account.\n(Loan authorizations) ...... .,"375, 730\n(9,858,176)","374,730\n(10,358,176)","376,987\n(10,385,908)","+1,257\n(+527,732)","+2,257\n(+27,732)"
6,"Total, Farm Service Agency ..","1,532,568","1,564,314","1,567,057","+34,489","+2,743"
7,Risk Management Agency,,,,,
8,RHA Salaries and Expenses.,60 .131,"69,207","62, 707","+2, 576","-6,500"
9,"Total , Farm Production Programs.","1,824,917","1,873,135","1 , 869,628","+44, 711","-3,507"
10,Natural Resources Conservation Service:,,,,,
11,i Private Lands Conservation Operat ans.,"832,727","886,285","884,785","+52, 058","500 -1,"
12,Congressionally Directed Spending.,,,"19,611","+19,611","+19, 611"
13,Farm Security and Rural Investment Program:,,,,,
14,Admi ni strati ve expenses-FPAC Business Center,,,,,
15,(transfer out).,"( -60, 228)","( -60,228)",(-60.228),,
16,"Total, Conservation operations ...","832,727","886,285","904,396","+71, 669","+18, 111"

,0,1,2,3,4,5
0,Office of the Under Secretary for Rural Development.,812,"1,330","1,580",+768,+250
1,Rural Development,,,,,
2,Rural development expenses:,,,,,
3,.. Salaries and expenses .,"264,024","367,447","300,285","+36, 261","-67,162"
4,(by transfer from RDLFP) ..,"(4,468)","(4,468)","(4,468)",,
5,(by transfer from RETLP) ....,"(33,270)","(33,270)","(33,270)",,
6,"Subtotal, transfers from program accounts,","449,992","449,992","449,992",,
7,"Total, Rural development expenses ..","714,016","817,439","750,277","+36, 261","-67, 162"
8,Rural Housing Service,,,,,
9,Rural Housing Insurance Fund Program Account:\nLoan authorizations:,,,,,
10,502). Single family direct (Sec.\nUnsubsidized guaranteed ....,"(1,000,000)\n(24,000,000)","( , 500, 000) 1\n(30,000,000)","(1,250,000)\n(30,000,000)","(+250,000)\n( +6, 000 , 000)","(-250,000)"
11,"Subtotal, Single family.","25,000,000","31,500,000","31,250,000","+6, 250,000","-250,000"
12,504) .. Hoos i ng repair (Sec.\n515) .. Rental housing (Sec.\n538). Multi -family housing guarantees (Sec.,"(28,000)\n(40,000)\n{230,000)","(28,000)\n(40,000)\n{230,000)","(28,000)\n(50,000)\n(250,000)","(+10.000)\n(+20,000)","(+10,000)\n( +20, 000)"

,0,1,2,3,4,5
0,524) .. Site development loans (Sec.,"(5,000)","(5,000)","(5,000)",,
1,family Single housing credit sales.\nSelf-help housing land development housing,"(10,000)","(10,000)","(10,000)",,
2,loans (Sec. 523) ....... .,"(5,000)","(5,000)","(5,000)",,
3,Labor Housing (Sec. 514). Farm,"(28,000)","(28,000)","(28,000)",,
4,"Total, Loan authorizations,","25,346,000","31,846,000","31,626,000","+6, 280. 000","-220,000"
5,Loan subsidies:,,,,,
6,Single family direct (Sec. 502).,"55,400","27,900",23.250,"150 -32,","-4,650"
7,Housing repair (Sec. 504).,2. 215,484,484,"731 -1,",
8,Rental housing (Sec. 515).,"6,688","3,576","4,470","-2,218",+894
9,Multi-family housing revitalization program.,,"32,000","34,000",000 +34.,"+2, 000"
10,Farm labor housing (Sec.514) ......,"5,093","2,831","2,831","-2,262",
11,Self-Help Land Development Housing Loans,,,,,
12,(Sec.523) ..,269,55,55,-214,
13,Site Development Loans (Sec.524) ......,355,206,206,-149,
14,"Total, Loan subsidies ... .","70,020","67,052","65,296","-4,724","-1, 756"
15,"Farm labor housing grants .... , ... .",10.000,"10,000","10,000",,
16,RHIF administrative expenses.,"412,254","412,254","412,254",,
17,(transfer out to Rural Development) ....,( -412. 254),"(-412,254)","(-412,254)",,
18,"Total, Rural Housing Insurance Fund program.","492,274","489,306","487,550","-4,724","·1, 756"
19,(Loan authorization) ...,"(25,346,000)","(31,846.000)","(31,626,000)","(+6, 280,000)","( -220, 000)"

,0,1,2,3,4,5
0,Rent a 1 program: assistance,,,,,
1,"vouchers., Rural housing",,"45,000",,,"-45,000"
2,"Subtotal , Rental Assistance Program.","1,410,000","1,495,000","1,450,000","+40,000","-45,000"
3,Multi-Family Housing Program Revi tali zat ion,,,,,
4,Account:,,,,,
5,". Housing Vouchers .. Rural\nMutua 1 and self-help housing grants.\ngrants,. Rural housing assistance","31,000\n45,000","32,000\n45,000","45,000\n32,000\n48,000","+45,000\n+1,000\n+3, 000","+45,000\n+3,000"
6,community Rural facilities program account:\nLoan authorizations:,,,,,
7,Community faci 1 i ty:\nDirect. .....\nGuaranteed.,"( 2 , 800 , 000)\n(500,000)","(2,800,000)\n(500,000)","(2,800,000)\n(650,000)","000) ( +150,","(+150,000)"
8,"Total, Loan authorizations.","3,300,000","3,300,000","3,450,000","+150, 000","+150,000"

,0,1,2,3,4,5
0,Grants ............ .,"32,000","58,000","40,000","+8,000",",000 ·18"
1,Project Community\nFunding/Congressionally Directed,,,,,
2,Spending ..... .,,,"183,449","+183, 449","+183,449"
3,Rural community development initiative.,"6,000","6,000","6,000",,
4,,"6,000",,,"-6,000",
5,Tribal college grants.,"5,000","10,000","10,000","+5,000",
6,"Subtotal, Loan subsidies and grants.","74,000","74,000","239,449","+165,449","+165,449"
7,"Total, grants and payments ...","150,000","151,000","319,449","+169, 449","+168,449"
8,,,,,,~
9,"Total, Rural Housing Service ..\n(Loan autnorization) ...","2,120.274\n( 28 , 646 , 000)","2,135,306\n(35,146,000)","2,301,999\n(35,076,000)","+181, 725\n(+6,430,000)","+166,693\n(-70,000)"

,0,1,2,3,4,5,6
0,FY 2021\nFY 2022,FY 2021\nFY 2022,FY 2021\nFY 2022,FY 2021\nFY 2022,Final Bi 11\nFinal Bi 11,Final Bi 11\nFinal Bi 11,Final Bi 11\nFinal Bi 11
1,Enacted\nRequest,Enacted\nRequest,Enacted\nRequest,Enacted\nRequest,Final Bill\nvs Request\nvs Enacted,Final Bill\nvs Request\nvs Enacted,Final Bill\nvs Request\nvs Enacted
2,Rural Business~~Cooperative Service:,,,,,,
3,Rura 1 Business Program Account:,,,,,,
4,authorization) ....,"(1,000,000)","(1,500,000)",,"(1,250,000)","(+250,000)","( -250, 000)"
5,Loan subsidies and grants:\nGuaranteed business and industry subsidy ..\nRural business deve 1 opment grants.,"10,400\n37,000","30,150\n37,000",,"25,125\n37,000","+14, 725","-5,025"
6,Delta Regional Authority and\nAppalachian Regional Commission.,"9,000","9,000",,"9,000",,
7,Grant Program ...,,"5,000",,"2,000","+2, 000","-3,000"
8,"Total, RBP loan subsidies and",,,,,,
9,grants.,"56,400","81,150",,"73,125","+16,725","-8, 025"
10,(Loan authorization) ..,"(18,889)","(18,889)",,"(18,889)",,
11,(transfer out to Rural Development).,"( -4 ,468)","(-4,468)",,"( -4,468)",,
12,,,,,,~,
13,"Total, Intermediary Re lending Program",,,,,,
14,,"7,407","5,992","5,992","5,992",-1.415,
15,Rural Economic Development Loans Program Account,,,,,,
16,"{ Loan authorization) ........ .\nLimit cushion of credit interest spending ... ,","(50,000)\n(50,000)","(50,000)\n(50,000)","(50,000)\n(50,000)","(50,000)\n(50,000)",,

,0,1,2,3,4,5
0,Rura 1 Cooperative Development Grants:,,,,,
1,Cooperative development .,,,,,
2,". , Areas,\n....... , ..",.BOO 2,"2,800","2,800",,
3,Grants to assist minority producers ..,"3,000","3,000","3,000",,
4,development ....\nAgriculture innovation centers.,"12,000\n3,000","15,000\n3,000","13,000\n3,000","+1,000","·2,000"
5,"Total, Rural Cooperative development",,,,,
6,.... grants .,"26,600","26,600","27,600","+1, 000","+1,000"
7,Healthy Foods Financing Initiative.,,"5,000","5,000","+5,000",
8,Rural Microentrepreneur Assistance Program:,,,,,
9,Loan subsidy and grants ..,"6,000","6,000","6,500",+500,+500
10,"Rural Energy for America Program:\n(Loan authorization).,\nLoan subsidy and grants.","(20,000)\n392","(20,000)\n30,168","(50,000)\n12,920","(+30,000)\n+12,528","( +30, 000)\n.17, 248"
11,"Total, Rural Business~Cooperative Service ..\n(Loan authorizations).,.","799 96,\n(1,088,889)","154,910\n(1,738,889)","131,137\n(1,518,889)","+34, 338\n(+430,000)","773 -23,\n( -220 ,000)"

,0,1,2,3,4,5
0,"Direct,,,","(1,400,000)","(1,400,000)","( 1 , 400, 000)",,
1,"Guaranteed,","(50,000)","(50,000)","(50,000)",,
2,"Total, Loan authorizations.","1 , 450,000","1,450,000","1,450,000",,
3,Loan subsidies and grants:,,,,,
4,Guaranteed subsidy .....,60,45,45,,
5,"Water and waste revolving fund,","1,000","1,000","1,000",,
6,"Water well system grants,,","5,000","5,000","5,000",,
7,AK/HI Colonias and grants.,"68,000","93,000","70,000","+2, 000","-23,000"
8,Water and waste technical assistance.,"35,000","40,000","37,500",,
9,Circuit rider program.,"20,157","20,157","20,762",+605,+605
10,Sol id waste management grants.,"4,000","4,000","4,000",,
11,"High grants,,,, energy cost","10,000","10,000","10,000",,
12,Water and waste disposal grants.,"463,350","528,355","490,000",,
13,i )(2) 306A( grants,"15,000","15,000","15,000",,
14,"Total, Loan subsidies and grants.","621,567","716,557","653,307","+31,740","-63,250"

,0,1,2,3,4,5
0,"Direct, FFB ...","(5,500,000)",,,"(-5,500,000)",
1,Rural Energy Savings Program ....,,"(398,551)","(208,333)","(+208, 333)",
2,"Subtotal, Electric.","6,250,000","6,898,551","7,458,333","+1 , 208,333","+559, 782"
3,Telecommunications:,,,,,
4,"Telecomm Direct, Treasury","(345,000)","(690,000)","(690,000)","(+345,000)",
5,,,- - - - -,,,
6,"Subtotal, Telecommunications.","690,000","690,000","690,000",,
7,,,,"""",,
8,"Total . Loan authori zat i ans,","6,940,000","7,588,551","8,148,333","+1 , 208,333","+559,782"

,0,1,2,3,4,5
0,Rural electric modifications ..,,"400,000",,,"-400,000"
1,Rate Telecommunications Direct. Treasury,"2,277","2,070","2,070",-207,
2,"Treasury modifications,",,"25,000",,,"-25, 000"
3,"RETLP administrative expenses,","33,270","33,270","33,270",,
4,(transfer out to Rural Deve 1 opment) .,"(-33,270)","(-33,270)","(-33,270)",,
5,,,,,,~
6,"Total, Electrification and Rural",,,,,
7,Loans Te 1 ecommuni cat ans Program Account i,"35,547","4B2, 340","46, B40","+11, 293","-435,500"
8,''' '' .....\n(loan authorization).,"(6,940,000)","(7,588,551)","(8,148,333)","(+1,208,333)","( +559, 782)"
9,Broadband Program:,,,,,
10,loan authorizations:,,,,,
11,. Broadband te 1 ecommuni cati ans .,"(11,869)","(11,869)","(15,220)","(+3, 351)","(+3,351)"
12,Loan subsidies and grants:,,,,,
13,Distance learning and telemedicine:,,,,,
14,"Grants.,","60,000","60,000","60,000",,
15,Congressi ona11 Directed Spending .. y,,,"2,510","•2 ,510","+2,510"

,0,1
0,"AGRICULTURE, RURAL DEVELDPMENT, FOOD AND DRUG ADMINISTRATION,","AGRICULTURE, RURAL DEVELDPMENT, FOOD AND DRUG ADMINISTRATION,"
1,"AND RELATED AGENCIES APPROPRIATIONS ACT, 2022","AND RELATED AGENCIES APPROPRIATIONS ACT, 2022"
2,,(Amounts in thousands)
3,,Final Bill\nFinal Bill\nFY 2021\nFY 2022
4,,Enacted\nRequest\nFinal Bill\nvs Request\nvs Enacted
5,1 Broadband te ecommuni cations:,
6,Direct,"1,772\n+272\n2,000\n2,272\n+500"
7,Grants,"35,000\n35,000\n35.000"
8,Broadband E-Connect:,
9,Loan grants ... and subsidies,"650,000\n400,000\n+400,000\n-250, 000"
10,Funding ... Commun I ty Project,"36,605\n+36,605\n+36,605"
11,"Total, subsidies and grants. Loan","97,000\n746,772\n+439,387\n536,387\n-210,385"
12,"Total, Rural Utilities Service.","754,114\n1,945,669\n1,236.534\n+482,420\n-709,135"
13,(Loan authorization) ...,"(8,401,869)\n(9,050,420)\n(9,613,553)\n(+1,211,684)\n(+563, 133)"
14,,---===========\n===;;;::::;:::;;:::::::::::::::==
15,"Development I II, Total, Programs. title Rural","3,236,023\n4,604,662\n3,971,535\n+735,512\n-633, 127"
16,(By transfer).,"(449,992)\n(449,992)\n(449,992)"
17,(Transfer out) ......,"( .449, 992)\n( .449, 992)\n(-449,992)"
18,(Loan authorizations) ..,"(38,136,758)\n(45,935,309)\n(46,208,442)\n(+8,071,684)\n(+273,133)"

,0,1,2,3,4,5
0,"Office of the Under Secretary for Food, Nutrition and",,,,,
1,Consumer Services.,809,"1,327","1 , 327",+518,
2,Food and Nutrition Service:\nChi 1 d nutrition programs,"25,046,440","26,800,922","26,788,922","+1,742,482","-12,000"
3,Demonstration projects (Summer EST) ...,"42,000","45,000","45,000","+3, 000",
4,School Breakfast Expansion Grants.,,"6,000","6,000",,
5,Child Nutrition Training.,,"1,000","2,000","+2,000","+1,000"
6,"Total, Child nutrition programs ..","25,118,440","26,887,922","26,883,922","+1, 765,482","-4,000"
7,"Special supplemental nutrition program for women,\ninfants, and children (WIG) .....","6,000,000","6,000,000","6,000,000",,
8,Supplemental nutrition assistance program:\n(Food stamp program) ...... .,"111 , 034, 580","102,792,199","137,436,870","+26, 402,290","+34, 644,671"
9,FDPIR education services. nutrition,998,998,998,,
10,Forward funding ..,,"17,805,255",,,"-17 , 805, 255"
11,Tribal Demonstration,,"3,000","3,000","+3 ,000",
12,"Total, Food stamp program.","114,035,578","123,602,452","140,440,868","+26,405,290","+16, 838,416"

,0,1,2,3,4,5
0,"Commodity supplemental food program,.","325,000","332,000","332,000","+7, 000",
1,Farmers market nutrition program.,"21,000","24,000","26,000","+5, 000","+2, 000"
2,Emergency food assistance program.,"79,630","85,000","81,000","+1,370","·4,000"
3,Pacific island and disaster assistance.,"1,070","1,070","1,070",,
4,,,~,,,
5,"Total, Commodity assistance program ...","426,700","442,070","440,070","+13,370","·2,000"
6,Nutrition programs administration.,"156,805","191,533","170,133","+13,328","·21,400"
7,Congressional Hunger Center.,"(2,000)","(2,000)","(2,000)",,
8,"Total, Food and Nutrition Service.","145,737,523","157,123,977","173,934,993","+28, 197,470","+16,811,016"
9,=======::======\n;;:::;:::;;;;;;;:;;:;;;;;;;;;;;;;;;;::,=======::======\n;;:::;:::;;;;;;;:;;:;;;;;;;;;;;;;;;;::,=======::======\n;;:::;:::;;;;;;;:;;:;;;;;;;;;;;;;;;;::,,,
10,"Total, title IV1 Domestic Food Programs ..\n145,738, 332\n157,125,304","Total, title IV1 Domestic Food Programs ..\n145,738, 332\n157,125,304","Total, title IV1 Domestic Food Programs ..\n145,738, 332\n157,125,304","173,936,320","+28, 197,988\n+16,811,016","+28, 197,988\n+16,811,016"

,0,1,2,3,4,5
0,the Under Trade Office of Secretary for and Foreign,,,,,
1,,887,"1,408",908,+21,-500
2,Office of Codex Alimentarius ..,"4,805","4,841","4,841",+36,
3,Foreign Agricultural Service,,,,,
4,... Salaries and expenses .\n(By transfer from export loans).,"221,835\n(6,063)","228,644\n(6,063)","228,644\n(6,063)","+6,809",
5,"Total, Salaries and expenses (including",,,,,
6,transfers) ...,"227,898","234,707","234,707","+6, 809",
7,Food for Peace Tit 1 e\nDirect Credit and Food for,,,,,
8,Progress Program Account:,,,,,
9,i,,,,,
10,(transfer out).,( -112),,,(+112),

,0,1,2,3,4,5
0,Expenses.,"1,740,000","1,570,000","1,740,000",,"+170, 000"
1,Commodity Credit Corporation Export Loans Program\nAccount:,,,,,
2,".... Admi ni strati ve expenses .\nForeign Agriculture Service, Salaries and","6,381","6,063","6,063",-318,
3,"expenses (transfer out) ..... .\nFPAC Business Center Salaries and expenses\n(transfer out),....\n. ............ .","(-6,063)\n(-318)","(-6,063)","(-6,063)",(+318),
4,"Total , CCC Export Loans Program Account.","6,381","6,063","6,063",-318,
5,McGovern-Dole International Food for Education and,,,,,
6,Child Nutrition program grants.,"230,000","230,112","237,000","+7, 000","+6, 888"
7,"Total, title V, Foreign Assistance and Related",,,,,
8,". Programs, .","2,204,020","2,041,068","2,217,456","+13,436","+176, 388"
9,(By transfer) ..\n(Transfer out),"(6,063)\n( ·6,493)","{6,063)\n(-6,063)","(6,063)\n(-6 ,063)",(+430),

,0,1,2,3,4,5
0,"AGRICULTURE, RURAL DEVELOPMENT. FOOD AND DRUG ADMINISTRATION,","AGRICULTURE, RURAL DEVELOPMENT. FOOD AND DRUG ADMINISTRATION,","AGRICULTURE, RURAL DEVELOPMENT. FOOD AND DRUG ADMINISTRATION,","AGRICULTURE, RURAL DEVELOPMENT. FOOD AND DRUG ADMINISTRATION,","AGRICULTURE, RURAL DEVELOPMENT. FOOD AND DRUG ADMINISTRATION,","AGRICULTURE, RURAL DEVELOPMENT. FOOD AND DRUG ADMINISTRATION,"
1,"AND RELATED AGENCIES APPROPRIATIONS ACT, 2022","AND RELATED AGENCIES APPROPRIATIONS ACT, 2022","AND RELATED AGENCIES APPROPRIATIONS ACT, 2022","AND RELATED AGENCIES APPROPRIATIONS ACT, 2022","AND RELATED AGENCIES APPROPRIATIONS ACT, 2022","AND RELATED AGENCIES APPROPRIATIONS ACT, 2022"
2,(Amounts in thousands),(Amounts in thousands),(Amounts in thousands),(Amounts in thousands),(Amounts in thousands),(Amounts in thousands)
3,2021 FY\n2022 FY\nFinal Bill\nFinal Bill,2021 FY\n2022 FY\nFinal Bill\nFinal Bill,2021 FY\n2022 FY\nFinal Bill\nFinal Bill,2021 FY\n2022 FY\nFinal Bill\nFinal Bill,2021 FY\n2022 FY\nFinal Bill\nFinal Bill,2021 FY\n2022 FY\nFinal Bill\nFinal Bill
4,Enacted\nRequest\nFinal Bi 11\nvs Enacted\nvs Request,Enacted\nRequest\nFinal Bi 11\nvs Enacted\nvs Request,Enacted\nRequest\nFinal Bi 11\nvs Enacted\nvs Request,Enacted\nRequest\nFinal Bi 11\nvs Enacted\nvs Request,Enacted\nRequest\nFinal Bi 11\nvs Enacted\nvs Request,Enacted\nRequest\nFinal Bi 11\nvs Enacted\nvs Request
5,TITLE VI • RELATED AGENCIES AND FOOD ANO,,,,,
6,DRUG ADMINISTRATION,,,,,
7,DEPARTMENT OF HEAL TH AND HUMAN SERVICES,,,,,
8,Food and Drug Administration,,,,,
9,Salaries and expenses,,,,,
10,Direct appropriation.,"3,201,928","3,526,928","3,304,145","+102,217","-222,783"
11,Transfer to OIG (transfer out) ...,"( ·1,500)","( ·1, 500)","500) ( -1,",,
12,Spending from appropriated user fees:,,,,,
13,Prescription drug user fees ....,"1,107,199","1,141,861","1,200,129","+92, 930","+58, 268"
14,Medical device user fees.,"236,059","241,431","243,473","+7,414","+2,042"
15,"Human generic drug user fees,,","520,208","527,848","539,656","+19,448","+11,808"
16,Biosimilar biological products user fees.,"42,494","43,116","40,040","-2,454",.3. 076
17,Animal drug user fees.,"33,340","33,836","31,641","·1,699","-2, 195"
18,Animal generic drug user fees.,"22, 797",137 23.,"24,798","+2 ,001","+1, 661"
19,... Tobacco product user fees .,"712,000","712,000","712,000",,
20,"Subtotal, user fees (appropriated).","2.674,097","2,723,229","2,791,737","+117, 640","+68,508"
21,Subtotal (including appropriated user fees).,"5,876,025","6,250, 157","6,095,882","+219, 857","-154,275"
22,Mammography user fees.,"18,618","18,991","18,991",+373,
23,"Export user fees.\n. .. , . , .. , ..","4,886","4,983","4,983",+97,
24,. i Col or cert fi cat 1 on user fees .,"10,469","10,678","10,678",+209,

,0,1,2,3
0,Spending FDA (transfer) ... of innovation account,"(70,000)\n(50,000)","(50,000)","( -20, 000)"
1,,~,,
2,"Total. FDA (w/user including proposals) . fees,","5,980,296\n6,478,622","6,201,981","+221,685\n-276,641"
3,"Total, FDA fees (wlenacted only). user","5,980,296\n6,374,256","6,201,981","+221, 685\n-172, 275"
4,"FDA fees, user","-2, 765,580\n-2, 920,906","·2, 885,048","+35, 858\n·119,468"
5,"Total, Food Drug (excluding and Admi ni strati on",,,
6,fees). user,"3,214,716\n3,557,716","3,316,933","+102,217\n- 240,783"
7,INDEPENDENT AGENCIES,,,
8,"' ' ,, .. ....\nCommission Commodity Trading 1 I . Futures","304,000\n278,000","382,000","+78,000\n+104,000"
9,"Futures Total, Commodity Trading Commission.","304,000\n278,000","382,000","+78,000\n+104,000"
10,Farm Credit (1 imitation on Administration\nexpenses). administrative,"(80,400)\n(84,200)","(84,200)","{+3,800)"
11,,=======a:::=====,,========;;;===:=
12,"Total, title VI, Related Agencies and Food and",,,
13,Drug Administration ..,"3,518,716\n3,835,716","3,698,933","+180,217\n-136, 783"

,0,1,2,3,4
0,WIC (rescission).,"-1,250.000","-621, 672","+628, 328","-621, 672"
1,Dairy innovation ..,"22,000",,"-22,000",
2,"RISE grants. ,","5,000",,"-5, 000",
3,"Mitigation banking,",5.000,"5,000",,"+5, 000"
4,Waste water pilot program .....,"5,000",,"-5,000",
5,Agriculture Business Innovation Center.,"2,000",,000 -2.,
6,"Child nutrition training.,,","1,000",,"·1,000",
7,"Renewable energy, , , , , .","10,000",,"-10,000",
8,Goodfellow facility.,"45,861","24,525","-21,336",+24. 525
9,Broadband program (rescission),"-12,000",,+12.000,
10,Institute for Rural Partnership.,,"30,000","+30,000","+30, 000"
11,VT Institute for Rural Partnership (Congressionally,,,,
12,"Directed Spending),",,"10,000","+10,000","+10,000"
13,"FDA Seafood Safety. , .","1,000",,"-1,000",
14,"Blue Ribbon Panel , ,",300,300,,+300
15,"Farm of the Future,","4,000","5,000","+1,000","+5, 000"
16,"Cattle Contracts Library,",,"1,000","+1,000","+1,000"
17,"Open Data Standards ..... ,",500,"1,000",+500,+1. 000
18,Agriculture Quarantine Inspection Services (emergency),635.000,,"-635,000",
19,", i Agriculture auarant ne Inspect ion Services,",,"250,000","+250, 000","+250,000"

,0,1,2,3
0,Office of the Secretary (emergency) ..\nAdditional crop insurance (emergency).,"10,000,000\n20,000","+10,000,000\n+20, 000","+10,000,000\n+20,000"
1,Natural Resources Conservation Service,,,
2,Watershed and Flood Prevention Operations:\nEmergency Watershed Protection Program (emergency),"275,000","+275, 000","+275, 000"
3,"Total, Extending Funding and Emergency\nAssistance Act, 2022 .......... , .","10. 295,000","+10,295,000","+10, 295,000"

,0,1,2,3
0,"Wat er shed and Flood Prevent ion Dperat 1 ons (emergency) ,\nWatershed Rehabilitation Program (emergency).,.\nEmergency Watershed Protection Program (emergency) ....","500,000\n118,000\n300,000","+500,000\n+118,000\n+300, 000","+500,000\n+118,000\n+300,000"
1,"Total, Natural Resources Conservation Service.","918,000","+918,000","+918,000"
2,Rural Utilities Service,,,
3,"Distance Learning, Te1emedicine, and Broadband Program",,,
4,"(emergency) . . . .\n. ........ , . ,","2,000,000",,

,0,1,2,3,4,5
0,FY 2021,FY 2022,,,Final Bill,Final Bill
1,Enacted,Request,Final,Bill,vs Enacted,vs Request

,0,1,2,3,4,5
0,Grand total,"205,824,113","214,812,272","234,248, 198","+28, 424,085","+19, 435,926"
1,Appropriations.,"( 209, 161 , 693)","(217,733,178)","(224,695,318)","( +15, 533,625)","( +6 , 962 , 1 40)"
2,... Emergency appropriations .,"(690,000)",,"(13,218,000)","(+12,528,000)","(+13,218,000)"
3,.... Emergency advance appropriations .,,,"(5,000)","(+5,000)","(+5,000)"
4,Offsetting collections ...,"( -2, 765,580)","(-2, 920,906)","(-2,885,048)","( -119, 468)","( +35, 858)"
5,Rescissions ..,"(-1,262,000)",,"(-785,072)","( +476, 928)","( - 785,072)"

,0,1,2,3,4,5
0,(By transfer) ..... .,"( 1 , 623,154)","( 1 , 622,294)","( 1 , 622,294)",(-860),
1,transfer) (emergency). (By,"(104,000)","(50,000)","(50,000)","(-54,000)",
2,(Transfer out).,"( -1 , 623,154)","(-1,622,294)","(-1,622,294)",(+860),
3,( ..... Loan aut hori zat ion),"(47,994,934)","(56,293,485)","(56,594,350)","(+8, 599,416)","(+300, 865)"
4,(Limitation on administrative expenses).,"(211,627)","(215,986)","(215,986)","(+4, 359)",